---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" style="padding: 20px 0px 0px 0px;" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    {% for tag in post.tag %}
                        <a style="padding: 2px 8px;border-radius: 3px;font-size: 1.1rem;background: #ededed;color: #666;letter-spacing: 1px;margin: 3px 1px;text-decoration: none;display: inline-block;    text-transform: uppercase;font-weight: 300;text-align: center;-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility;" href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
                    {% endfor %}
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
